<form {{action 'createContact' on='submit'}}>
<div class="contact-inputs">{{input placeholder="Name (required)" value=Contact.name}}</div>
<div class="contact-inputs">{{input placeholder="Phone Number - 1234567890" value=Contact.phone_number}}</div>
<div class="contact-inputs">{{input placeholder="email" value=Contact.email}}</div>
<div class="contact-inputs">{{input placeholder="company" value=Contact.company}}</div>
<div class="contact-inputs">{{input placeholder="details" value=Contact.details}}</div>
<button class="add-item">Add Contact</button>
</form>


{{!--

{{#each contact as |contact|}}
  <div class="contact-item" {{action 'toggleComplete' on='click'}}>{{contact.name}}</div>
  {{contact-list/edit contact=contact
                      delete='deleteContact'
                      edit='editContact'}}
{{/each}} --}}
