<form class="create-contact" {{action 'createContact' on='submit'}}>
<div class="contact-form">{{input placeholder="Name (required)" value=newContact.name}}</div>
<div class="contact-form">{{input placeholder="Phone Number - 1234567890" value=newContact.phone_number}}</div>
<div class="contact-form">{{input placeholder="email" value=newContact.email}}</div>
<div class="contact-form">{{input placeholder="company" value=newContact.company}}</div>
<div class="contact-form">{{input placeholder="details" value=newContact.details}}</div>
  <div class="button-holder">
    <button class="add-item">Add Contact</button>
  </div>
</form>

<div class="show-contacts">
  <div class="contact-headers-header">
    <div class="contact-name-header">Name</div>
    <div class="contact-number-header">Phone Number</div>
    <div class="contact-email-header">Email</div>
    <div class="contact-company-header">Company</div>
    <div class="contact-details-header">Details</div>
  </div>

  {{#each band.contacts as |contact|}}
    <div class="contact-name">{{contact.name}}</div>
    <div class="contact-number">{{contact.phone_number}}</div>
    <div class="contact-email">{{contact.email}}</div>
    <div class="contact-company">{{contact.company}}</div>
    <div class="contact-details">{{contact.details}}</div>
    <div class="contact-buttons">
      {{contact-list/edit contact=contact
                          delete='deleteContact'
                          edit='editContact'}}
    </div>
  {{/each}}
</div>


{{!--

{{#each contact as |contact|}}
  <div class="contact-item" {{action 'toggleComplete' on='click'}}>{{contact.name}}</div>
  {{contact-list/edit contact=contact
                      delete='deleteContact'
                      edit='editContact'}}
{{/each}} --}}
