<form class="create-task" {{action 'createTask' on='submit'}}>
  <div class="task-form">{{input placeholder="Name (required)" value=task.name}}</div>
  <div class="task-form">{{input type="date" placeholder="Due Date (required, YYYY-MM-DD)" value=task.due_date}}</div>
  <div class="task-form">{{input type="number" max="5" min="1" placeholder="priority level (required, maximum of 5)" value=task.priority}}</div>
  <div class="task-form">{{input  placeholder="details" value=task.details}}</div>
  <div class="button-holder">
    <button class="add-item">Add Task</button>
  </div>
</form>

<div class="show-tasks">
  <div class="task-headers">
    <div class="task-name-header"> Name </div>
    <div class="task-due-header"> Due Date </div>
    <div class="task-priority-header"> Priority </div>
    <div class="task-details-header"> Details </div>
</div>


  {{#each band.tasks as |task|}}
    <div class="task-name">{{task.name}}</div>
    <div class="task-due">{{task.due_date}}</div>
    <div class="task-priority">{{task.priority}}</div>
    <div class="task-details">{{task.details}}</div>
    {{task-list/edit task=task
                     delete='deleteTask'
                     edit='editTask'
                     complete='completeTask'}}
  {{/each}}
</div>
{{yield}}
