<form {{action 'newTask' on='submit'}}>
{{input placeholder="Name" value=Task.name}}
{{input placeholder="due date" value=Task.due_date}}
{{input placeholder="priority level" value=Task.priority}}
{{input placeholder="details" value=Task.details}}
<button>new task</button>
</form>


{{#each task as |task|}}
  <div class="task-item" {{action 'toggleComplete' on='click'}}>{{task.name}}</div>
  {{task-list/edit task=task
                    delete='deleteTask'
                    edit='editTask'}}
{{/each}}
{{yield}}
