<form class="create-band"{{action 'newBand' on='submit'}}>
{{input placeholder="New band" value=Band.name}}

<div class="band-buttons">
<button class="add-item">Add Band</button>
</div>
</form>
{{#each bands as |band|}}
  <div class="band-name" {{action 'transition' on='click'}}>{{band.name}}</div>
{{band-list/card band=band
                    edit='editBand'
                  delete='deleteBand'
                  goToBand='goToBand'}}

{{/each}}

{{yield}}
