<form {{action 'newBand' on='submit'}}>
{{input placeholder="New band" value=Band.name}}

<button>new band</button>
</form>
{{#each band as |band|}}
<div>{{band.name}}</div>
  {{band-list/card band=band
                    edit='editBand'
                  delete='deleteBand'}}
{{/each}}

{{yield}}
