<form {{action 'newBand' on='submit'}}>
{{input placeholder="New band" value=Band.name}}

<button>new band</button>
</form>
{{#each bands as |band|}}
  <div {{action 'transition' on='click'}}>{{band.name}}</div>
{{band-list/card band=band
                    edit='editBand'
                  delete='deleteBand'
                  goToBand='goToBand'}}

{{/each}}

{{yield}}
