<form {{action 'createExpense' on='submit'}}>
{{input placeholder="Name (Required)" value=Expense.name}}
{{input placeholder="Price (xx.xx)" value=Expense.cost}}
{{input placeholder="Description" value=Expense.description}}
<button class="add-item">Add Expense</button>
</form>


{{#each expense as |expense|}}
<div>{{expense.name}}</div>
{{expense-list/edit expense=expense
                    edit='editExpense'
                    delete='deleteExpense'}}
{{/each}}
