<form {{action 'update' on='submit'}}>
{{input placeholder="Name (required)" value=contact.name}}
{{input placeholder="Phone Number  - 1234567890" value=contact.phone_number}}
{{input placeholder="email" value=contact.email}}
{{input placeholder="company" value=contact.company}}
{{input placeholder="details" value=contact.details}}
<button>Update Contact</button>
</form>

{{yield}}
