<form {{action 'update' on='submit'}}>
  <div class="create-contact">{{input placeholder="Name (required)" value=contact.name}}</div>
  <div class="create-contact">{{input placeholder="Phone Number  - 1234567890" value=contact.phone_number}}</div>
  <div class="create-contact">{{input placeholder="email" value=contact.email}}</div>
  <div class="create-contact">{{input placeholder="company" value=contact.company}}</div>
  <div class="create-contact">{{input placeholder="details" value=contact.details}}</div>
  <div class="update-contact-button">
    <button class="add-item">Update Contact</button>
  </div>
</form>

{{yield}}
